<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{modules/layout :: html(title = '归档 - ' + ${site.title}, header = null, content = ~{::content}, head = null, footer = null, sidebar = null, contentClass = null, isSidebar = true)}"
>
  <th:block th:fragment="content">
    <th:block th:replace="~{modules/category-filter}" />

    <div
      id="post-list"
      th:if="${archives.total gt 0}"
      th:with="postGroups=${archives.groupedItems},list_layout=${theme.config.layout.post_list_layout}"
      class="rounded-xl bg-white p-4 shadow transition-all duration-500 hover:shadow-md dark:bg-zinc-800"
    >
      <div th:each="postGroup : ${postGroups}" class="mb-6 last:mb-0">
        <h2
          class="relative mb-4 pb-2 text-lg font-medium before:absolute before:bottom-0 before:h-[2px] before:w-2 before:rounded-lg before:bg-[#3296ef] dark:text-zinc-300"
        >
          <span th:text="${postGroup.key}"></span>
        </h2>
        <div class="space-y-3">
          <div th:each="post : ${postGroup.value}" class="flex w-full items-center">
            <time
              th:datetime="${post.spec.publishTime}"
              th:text="${#dates.format(post.spec.publishTime, 'MM-dd')}"
              class="mr-4 font-mono text-zinc-400"
            />
            <a
              th:href="@{${post.status.permalink}}"
              th:text="${post.spec.title}"
              class="flex-1 truncate hover:text-[#3296ef]"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="mt-9 flex items-center justify-end" th:if="${archives.hasPrevious() || archives.hasNext()}">
      <ul th:attr="x-data=|pagination(${archives.page},${archives.totalPages},7)|" class="flex gap-2">
        <li th:if="${archives.hasPrevious()}">
          <a
            class="rounded border border-[#686B74] py-2 px-3 text-sm tabular-nums text-[#686B74] hover:border-[#3296ef] hover:bg-[#3296ef] hover:text-white"
            th:href="@{${archives.prevUrl}}"
            x-text="$t('pagination.prev')"
          >
            上一页
          </a>
        </li>
        <template x-for="item in items">
          <li>
            <template x-if="item === '...'">
              <span
                class="rounded border border-[#3296ef] bg-[#3296ef] py-2 px-3 text-sm tabular-nums text-white"
                x-text="item"
              >
              </span>
            </template>
            <template x-if="item !== '...'">
              <a
                class="rounded border border-[#686B74] py-2 px-3 text-sm tabular-nums text-[#686B74] hover:border-[#3296ef] hover:bg-[#3296ef] hover:text-white"
                x-text="item"
                :class="{'border-[#3296ef] bg-[#3296ef] text-white':page===item}"
                th:attr="'x-bind:href'=|'/archives/page/' + item|"
              >
              </a>
            </template>
          </li>
        </template>
        <li th:if="${archives.hasNext()}">
          <a
            class="rounded border border-[#686B74] py-2 px-3 text-sm tabular-nums text-[#686B74] hover:border-[#3296ef] hover:bg-[#3296ef] hover:text-white"
            th:href="@{${archives.nextUrl}}"
            x-text="$t('pagination.next')"
          >
            下一页
          </a>
        </li>
      </ul>
    </div>

    <div th:if="${archives.total == 0}" class="mt-6 flex items-center justify-center">
      <span class="text-sm font-light text-zinc-600 dark:text-zinc-200" x-text="$t('archive.archiveEmpty')">
        暂无文章
      </span>
    </div>
  </th:block>
</html>
